body{
    font-family: 'Nunito', sans-serif;
    background-color: #f5d9df;
}
.navbar-brand{
    color: #ea1c2c !important;
}
#mainNavbar{
    font-size: 1.1em;
    font-weight: 200;
}
.navbar-brand:hover{
    color: white !important;
}
.nav-link:hover { 
    color: #ea1c2c !important;
}
.imageGr{
    object-fit: cover;
    height: 70%;
    width: 100%;
}
#headingGroup h1{
    font-size: 2.5em;
    font-weight: 200;
}
#headingGroup span{
    color: #ea1c2c;
}
.rSection{
    margin-bottom: -18%;
}
.lSection{
    margin-bottom: 3%;
}
.blurb h2{
    color: #ea1c2c;
    font-weight: 100;
    font-size: 2rem;
}
.blurb p{
    color: #f498b8;
    font-weight: 100;
    line-height: 2;
    font-size: 1.125em;
}
.navbar.scrolled{
    background: rgb(222,192,222);
}

@media (max-width: 980px){
    #headingGroup h1{
        font-size: 2em;
    }
}