body{
    background: #f5d9d5;
}

#mainNav .navbar-brand{
    color: #ea1c2c;
    font-size: 1.5rem;
}

#mainNav .navbar-brand:hover{
    color: #303c70;
    font-weight: 400;
}

#mainNav{
    font-size: 1.5rem;
    font-weight: 100;
    font-family: 'Philosopher', sans-serif;
}

#mainNav .nav-link:hover{
    color: #ea1c2c;
    font-weight: 400; 
}

#mainNav .nav-link{
    color: white;
}

#headGroup span{
    color: #ea1c2c;
}

#headGroup h1{
    font-weight: 100;
    font-size: 4rem;
}

#donut1{
    width: 100%;
    height: fit-content;
}

/* Media query for screen width below 1200px */
@media(max-width: 1200px){
    #headGroup h1{
        font-weight: 100;
        font-size: 3rem;
    }
}